@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-image: url(./images/carambar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  font-family: fantasy;
}
